@using System.Threading.Tasks
@using MasterApi.Core.Account.Events
@model PasswordResetRequestedEvent

<h2 style="margin:0 0 20px 0;font-size:14px">Hello @Model.Account.Profile.FirstName @Model.Account.Profile.LastName !</h2>
<div>
    <p>
        Thank you for registering your account with @Model.AppInfo.ApplicationName.
    </p>
    <p style="text-align:center">
        <a style="display:inline-block;line-height:1em;padding:10px 18px;background:-webkit-linear-gradient(top,#4387fd,#4683ea);color:#fff;border-radius:3px;vertical-align:baseline;text-decoration:none"
           href="@string.Format("{0}{1}/{2}", Model.Urls.Api, Model.Urls.VerifyAccount, Model.VerificationKey)"
           target="_blank">
            Reset your password
        </a>
    </p>
    <p>
        If it was a mistake or you no longer wish to reset your password, click to cancel the request
    </p>
    <p style="text-align:center">
        <a style="display:inline-block;line-height:1em;padding:10px 18px;background:-webkit-linear-gradient(top,#FF3333,#FF3322);color:#fff;border-radius:3px;vertical-align:baseline;text-decoration:none"
           href="@string.Format("{0}{1}/{2}", Model.Urls.Api, Model.Urls.CancelVerification, Model.VerificationKey)"
           target="_blank">
            Cancel password request
        </a>
    </p>
    <p style="margin-top:20px">
        Best regards,
        <br />
        @Model.AppInfo.ApplicationName Team
    </p>
</div>

@section Footer
{
    <div>
        <p>
            <a href="@Model.AppInfo.AppUrl" target="_blank">@Model.AppInfo.ApplicationName</a>
        </p>
        <p>
            @Model.AppInfo.Copyright - @Model.AppInfo.EmailSignature
        </p>
    </div>
}